header {
        height: 70px;
        width: 100%;
        color: #fff;
        border-bottom: 1px solid #ccc;
        background-image: url("../images/logo.png");
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
}
