header {
	color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	height: 70px;
	width: 100%;
	background-image: url("../images/logo.png");
        background-size: contain;
        padding: 0px 0px 0px 20px;
        background-repeat: no-repeat;
}
