.places {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
}
.places h1 {
        font-size: 30px;
        width: 100%;
        padding-left: 1%;
}

.places article {
        border: 1px solid #ff5a5f;
        width: 390px;
        padding: 20px;
        margin: 20px;
        text-align: center;
        border-radius: 4px;
}
